body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #F4F6FC;
    color: #2E384D;
    width: 512px; /* Set width for the popup */
}

/* input { */
/*     font-family: "Roboto", sans-serif; */
/*     font-weight: 400; */
/*     font-style: normal; */
/* } */

.header {
    background-color: #282C2B;
    padding: 16px;
    text-align: center;
    font-size: 1.5rem;
    color: #FFF;
}

.search-bar {
    margin: 16px;
    display: flex;
    justify-content: center;
}

.search-bar input {
    width: 80%;
    padding: 8px;
    border: 1px solid #282C2B;
    border-radius: 8px;
    font-size: 1rem;
    background-color: #E8EAEF;
}

.search-bar input:focus {
    border: 2px solid #282C2B;
}

/* .add-bookmark { */
/*     display: flex; */
    /* justify-content: center; */
/* } */

/* .add-bookmark-button { */
/*     background-color: #FFB3BA; */
    /* border: none; */
    /* padding: 10px 15px; */
    /* margin: 10px; */
    /* border-radius: 5px; */
    /* cursor: pointer; */
    /* font-size: 1em; */
/* } */

/* .add-bookmark-button:hover { */
/*     background-color: #FF808C; */
/* } */

.bookmark-list {
    list-style-type: none;
    padding: 0;
    margin: 8px;
}

.bookmark-item {
    padding: 8px;
    margin: 8px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E8EAEF;
    border: 1px solid #282C2B;
    border-radius: 8px;
}

.bookmark-item:hover {
}

.bookmark-title {
    margin-right: 8px;
    width: 320px;
    max-width: 320px;
}

.bookmark-time {
    margin-right: 8px;
    width: 64px;
    max-width: 64px;
}

/* .bookmark-url { */
/*     font-size: 0.9em; */
    /* color: #A9ABAA; */
/* } */

.action-buttons {
    display: flex;
    gap: 4px;
}

.action-buttons button {
    background: none;
    border: none;
    cursor: pointer;
    color: #e74c3c;
}

.action-buttons button:hover {
}

.action-buttons-play {

}

.action-buttons-delete {
}
